<!-- AFIK this is unused -->

<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Contact Form</title>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>
    <script type="text/javascript">
      (function () {
        emailjs.init('887_CxnUe9-rOrIE1');
      })();
    </script>
    <script type="text/javascript">
      window.onload = function () {
        document
          .getElementById('contact-form')
          .addEventListener('submit', function (event) {
            event.preventDefault();
            // generate a five digit number for the contact_number variable
            this.contact_number.value = (Math.random() * 100000) | 0;
            // these IDs from the previous steps
            emailjs.sendForm('contact_service', 'contact_form', this).then(
              function () {
                console.log('SUCCESS!');
              },
              function (error) {
                console.log('FAILED...', error);
              }
            );
          });
      };
    </script>
  </head>
  <body>
    <form id="contact-form">
      <input type="hidden" placeholder="Phone Number" name="contact_number" />
      <label>Name</label>
      <input type="text" placeholder="Name" name="user_name" />
      <label>Email</label>
      <input type="email" placeholder="Email" name="user_email" />
      <label>Message</label>
      <textarea placeholder="Message" name="message"></textarea>
      <input type="submit" value="Send" />
    </form>
  </body>
</html>
